<table class="tweetsTable">
  <thead class="tweetsTable--head">
    <tr>
      <th class="tweetsTableCell tweetsTableCell_gray">Tweet</th>
      <th class="tweetsTableCell tweetsTableCell_gray">Likes</th>
      <th class="tweetsTableCell tweetsTableCell_gray">Replies</th>
      <th class="tweetsTableCell tweetsTableCell_gray">Retweets</th>
      <th class="tweetsTableCell tweetsTableCell_gray">Hashtags</th>
      <th class="tweetsTableCell tweetsTableCell_gray">Date</th>
    </tr>
  </thead>
  <tbody class="tweetsTable--data">
    <tr *ngFor="let tweet of tweets">
      <td class="tweetsTableCell">
        {{displayTweets(tweet.text)}}
      </td>
      <td class="tweetsTableCell tweetsTableCell_gray">
        {{displayCount(tweet.likes)}}
      </td>
      <td class="tweetsTableCell tweetsTableCell_gray">
        {{displayCount(tweet.replies)}}
      </td>
      <td class="tweetsTableCell tweetsTableCell_gray">
        {{displayCount(tweet.retweets)}}
      </td>
      <td class="tweetsTableCell">
        <ul class="tweetsTableCell--list">
          <li *ngFor="let tag of displayTags(tweet.hashtags)">{{tag}}</li>
        </ul>
      </td>
      <td class="tweetsTableCell">{{displayDate(tweet.date)}}</td>
    </tr>
  </tbody>
</table>