<div class="searchBar">
  <label class="searchBar--label" for="search-box">{{type}} Search</label>
  <input
    class="searchBar--input"
    #searchBox
    id="search-box"
    (keyup)="search(searchBox.value)"
    placeholder="Search by {{type}}"
  />
  <p class="searchBar--message">{{tweetService.message}}</p>
</div>
<div *ngIf="tweets.length !== 0" class="tableContainer">
  <app-table [tweets]="currentTweets"></app-table>
  <app-pagination
    *ngIf="currentPage !== 0"
    [current]="currentPage"
    [last]="lastPage"
    (sendNextPageNumber)="paging($event)"
  ></app-pagination>
</div>