<nav>
  <ul class="pagination">
    <li class="pagination--list" *ngIf="current > 1">
      <button
        class="paginationButton"
        (click)="handleClick(current - 1)"
      ><</button>
    </li>
    <li class="pagination--list" *ngFor="let num of range(last)">
      <button
        class="paginationButton"
        [class.active]="num + 1 === current"
        (click)="handleClick(num + 1)"
      >{{num + 1}}</button>
    </li>
    <li class="pagination--list" *ngIf="current < last">
        <button
          class="paginationButton"
          (click)="handleClick(current + 1)"
        >></button>
    </li>
  </ul>
</nav>
